# Example env file for server set up
PGHOST=127.0.0.1
PGPORT=5433
PGUSER=
PGPASSWORD=
PGDATABASE=
JWT_SECRET=
GCS_BUCKET_NAME=
GOOGLE_MAPS_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=./royal-flush-storage-key.json
NODE_ENV=development